<footer class="footer">
    <div class="container">
      <div class="row">
        
        <div class="col">
          <h6>Population <span class="badge badge-secondary" id="circle_popupation"></span></h6> 
        </div>
        <div class="col">
          <h6>Points <span class="badge badge-secondary" id="points_in_polygon"></span></h6> 
        </div>
        <div class="col">
          <h6>Points in Circles <span class="badge badge-secondary" id="total_points_in_all_circles"></span></h6>
        </div>
        <div class="col"></div>

      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>



</footer>